    /* Custom CSS for the full-width sidebar */
    body {
        overflow-x: hidden;
    }

    .sidebar {
        position: fixed;
        /* top: 0; */
        /* bottom: 0; */
        /* left: 0; */
        /* width: 250px; */
        height: 100%;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .content {
        margin-left: 250px;
        padding: 20px;
    }

    /* Add a gray background color on mouse-over */
    .sidebar a:hover {
        background-color: #ddd;
    }

    /* Style the active link */
    .sidebar .active {
        background-color: #333;
        color: white;
    }